/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.nav{
  background-color:#0c0e1f ;  
  
}




body {
  padding :0px;
  margin: 0px;
  font-family: sans-serif;

}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  color:#fff;
}

#contact-section {
 background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url(../images/contactus.jpg);
 background-size: cover;
 background-position: center;;
 height: 100%;
 width: 100%;
 padding-bottom: 8.5%
}

#contact-section .container h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(238,235,235);
  letter-spacing: 2px;
  padding: 5%;
}

#contact-section .container p {
  text-align: center;
  width : 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom : 3%;
  color: #fff;
}
.contact-form{
  display : grid;
  grid-template-columns: auto auto;
  /* grid-gap: 5px; */
}

.form-info {
  font-size: 20px;
  font-style: italic; 
  color:#fff;
  letter-spacing :2px;
  

}


input{
  color: #fff; 
}

input::placeholder{
  color:#fff;
}

textarea {
  color: #fff;
  
} 

textarea::placeholder {
  color: #fff;
}

.submit{
  width :40%;
  background: none;
  padding: 15px;
  outline : none;
  font-size : 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height:33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 30%;
  border: 2px solid rgb(190,190,190);
  color: rgb(190,190,190);
}

.submit:hover{
  border :1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.page-footer {
  background-color: #0c0e1f;
  color: #fff;
}
.footer-copyright {
  color: #fff;
}