
@media only screen and (max-width: 815px) {
    nav {
        height: 130px;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        height: 200px;
    }
}
nav ul li:hover {
    background-color: grey;
 }
