
.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
@media only screen and (max-width: 815px) {
    nav {
        height: 130px;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        height: 200px;
    }
}
nav ul li:hover {
    background-color: grey;
 }

#map{
    height:400px;
    width:100%;
}